.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  }
  
  .left {
    background-color: aquamarine;
    box-sizing: border-box;
    width: 200px;
  }

  .form {
    max-width: 1000px;
    margin: auto;
}

.content {
    flex-grow: 1;
    box-sizing: border-box;
  }