<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<div class="content">
<div class="contact-container">
    <div class="info-section">
      <h2 class="in">Entrer <br>en <br>contact</h2>
    </div>
  
    <div class="form-container">
    <div class="form-section">
      <h2>Envoyer un e-mail</h2>

      <div class="form">
        <input type="text" name="user" required>
        <label for="user"> Name </label>
      </div>

      <div class="form">
        <input type="text" name="phone" required>
        <label for="phone"> Phone </label>
      </div>

      <div class="form">
        <input type="text" name="mail" required>
        <label for="mail"> Mail </label>
      </div>

      
      <div class="form">
        <textarea type="text" name="area" required>
        </textarea>
        <label for="area"> Votre message </label>
      </div>

      <button> Envoyer le mail</button>

    </div>
    </div>

  </div>
</div>

<div class="second-content">
<div class="nif">
    <div class="siege">
      <p>21 Rue Kasanga Fernand, Antananarivo 101</p>
      <p>Ouvert du Lundi au Vendredi de 8h00 - 16h00</p>
    </div>

    <div class="phone">
      <p> Phone </p>
      <span>+261 34 64 892 34</span>
    </div>

    <div class="thx">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-whatsapp"></i>
    </div>
</div>
</div>