<div class="about-countainer">
<div class="about-section">
    <div class="title-section">
        <h2>À propos de nous</h2>
    </div>
    <div class="text-section">
        <p class="txt-1">
            Zarahay, une communauté passionnée de partage, où chaque membre est une pierre précieuse dans la construction collective du savoir. Ensemble, nous cultivons un espace bienveillant où les idées s'épanouissent et les connaissances s'entrelacent. Rejoignez-nous dans cette aventure, où chaque contribution est une étincelle qui illumine notre communauté.
        </p>

        <p class="txt-2">
            Que vous soyez passionné par l'apprentissage, avide de partager vos découvertes ou simplement en quête de nouvelles perspectives, Zarahay vous offre un lieu d'échange bienveillant. Rejoignez notre communauté où chaque partage est une étincelle qui éclaire notre chemin vers la compréhension collective.
        </p>
    </div>
</div>
</div>