.about-countainer {
    max-width: 1200px;
    margin: auto;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.title-section,
.text-section {
    padding: 20px;
}

.title-section {
    padding-right: 50px;
    direction: rtl;
    border-right: 1px solid var(--second-color);
    height: 220px;
    color: var(--second-color);
}

.title-section h2{
    font-family: var( --font-quick);
    font-weight: 600;
    font-size: 32px;
}

.txt-2 {
    margin-top: 20px;
}

.text-section{
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-left: 50px;
    width: 520px;
}

.text-section p{
    color: var(--second-color);
    font-family: var(--font-roboto);
    font-weight: 300;
    font-size: 16px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}
