* {
    margin: auto;
    max-width: 800px;
}
  /* .listeEvent {
    height: 200px;
    width: 200px;
    border: solid 2px red;
    background-size: cover;
    border-radius: 20px;
} */

.listeEvent{
  height: 200px;
  width: 200px; 
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.draft{
  border-radius: 20px;
  height: 230px;
  width: 200px;
  border: solid 1px black;
  margin-left: 200px;
  margin-top: 20px;
}

img{
  height: 30px;
  width: 30px;
}

/* .mini-menu{
  display: flex;
  justify-content: space-around;
} */