<header>
<div class="container">
    <div class="content">
    <nav class="navigation">
    <ul class="gap">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/a-propos">À propos</a></li>
    </ul>
    </nav>

        <div class="logo">
            <h1> ZARAHAY </h1>
        </div>
    
    <nav class="navigation">
    <ul class="gap">
        <li><a routerLink="/services">Activités</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
    </nav>
</div>
</div>
</header>
  
