.container {
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 15px; 
    text-align: center;
}

.content {
    gap: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

li {
    font-family: var(--font-roboto);
    font-weight: 300;
    cursor: pointer;
}

.gap {
    gap: 30px;
}

.logo{
    height: auto;
}

.logo h1{
    height: auto;
    font-family: var(--font-quick);
    letter-spacing: 5px;
}

li:hover {
    color: var(--third-color);
}
