<div class="container">
    <div class="left">
    <app-left-menu></app-left-menu>
    </div>

    <div class="content">
        <app-event-content></app-event-content>
    </div>

    <div class="right">
    <app-right-menu></app-right-menu>
    </div>
</div>
  