<div class="hero-section">
    <div class="hero-content">
        <div class="description">
            <div class="title">
                <h1> ZARAHAY</h1>
            </div>
        

            <div class="desc">
                <span>Zarahay, où le savoir se cultive, les idées s'épanouissent, et la communauté grandit main dans la main vers la sagesse collective.</span>
            </div>

            <div class="button">
                <p> REJOIGNEZ-NOUS </p>
            </div>
        </div>
    </div>
</div>
