<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<div class="container">
    <div class="title">
      <h1>
        Que pense les fondateurs du ZARAHAY de leurs communautés
      </h1>
    </div>
    <div class="founder">
      <p>Zarahay est né d'une vision partagée : simplifier la vie quotidienne grâce à la technologie.
        En tant que fondateur, voir notre communauté s'épanouir et collaborer pour enrichir les connaissances est
        une réalisation exceptionnelle.</p>
  </div>

  <div class="card-container">

    <div class="card">
      <div class="card-image">
        <img src="../../../assets/image/asiate.png" alt="Image" class="card-profile-img">
      </div>
      <div class="card-text">
        <div class="name">
          <h1> Emily Johnson </h1>
        </div>

        <div class="text">
          <i class="fa-solid fa-quote-left icon"></i>

          <p>Zarahay a transformé ma vie en créant une communauté collaborative où le partage
            de connaissances devient une expérience inspirante et enrichissante. j'adore cette commuanuté.
          </p>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="../../../assets/image/vitaly.png" alt="Image" class="card-profile-img">
      </div>
      <div class="card-text">
        <div class="name">
          <h1> Ava Miller </h1>
        </div>

        <div class="text">
          <i class="fa-solid fa-quote-left icon"></i>

          <p>
            Zarahay va bien au-delà d'une simple plateforme, c'est une communauté dynamique où l'échange
            de connaissances devient une expérience passionnante et collaborative.
          </p>

        </div>

      </div>
    </div>
  </div>
</div>