<div class="container">
    <div class="title">
        <h2> Activiés</h2>
    </div>
<div class="activity-container">
    <div class="card social">
        <div class="under">
            <p>Engagement social</p>
        </div>
        
        <div class="info">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            
            <a href="#"> Voir plus</a>
        </div>
    </div>

    <div class="card grade">
        <div class="under">
            <p>Obtenir une certificat</p>
        </div>

        <div class="info">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            
            <a href="#"> Voir plus</a>
        </div>
    </div>

    <div class="card these">
        <div class="under">
            <p>Événements éducatifs</p>
        </div>

        <div class="info">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            
            <a href="#"> Voir plus</a>
        </div>
    </div>

    <div class="card debat">
        <div class="under">
            <p>Débats et discussions</p>
        </div> 

        <div class="info">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            
            <a href="#"> Voir plus</a>
        </div>
    </div>
</div>
</div>
