.slideshow-container {
  padding-top: 5rem;
  height: 100vh; /*hauteur de l'image*/
  overflow: hidden;
  background-color: var(--first-color);
  position: fixed;
  width: 100%;
  z-index: 0;
}

.mySlides {
  display: none;
  justify-content: center;
  height: 100%;
}

.slideshow-image {
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  color: var(--first-color);
  font-size: 1.5rem;
  width: 100%;
  height: 2em;
  position: absolute;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: var(--background-color)
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  height: fit-content;
  color: var(--first-color);
  top: 50%;
  font-size: 2rem;
  z-index: 1;
}

.next {
  right: 0;
}

.dot-container {
  display: flex;
  justify-content: center;
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: 10%;
}

.dot {
  height: 1rem;
  width: 1rem;
  margin: 0.05rem 0.1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--background-color);
}

/* ---------------- Animation ------------------- */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* ----------------------------------------------------- */