<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<div class="container">
    <div class="slide" #slideContainer>
        <div class="item">
            <div class="content">
                <h1 class="name">Les foundateurs</h1>
                <div class="des">Découvrez les esprits créatifs et passionnés derrière Zarahay, nos fondateurs dédiés à
                    faire de la communauté un lieu vibrant où le savoir se partage avec passion.</div>
            </div>
        </div>
        <div class="item" style="background-image: url('../../../assets/image/rousse.jpg');">
            <div class="content">
                <h1 class="name">Emily roux</h1>
                <div class="des">Ouvrez les portes de la compréhension.</div>
            </div>
        </div>
        <div class="item" style="background-image: url('../../../assets/image/gorbache.jpg');">
            <div class="content">
                <h1 class="name">Joanne Gorbache</h1>
                <div class="des">Chaque livre est une aventure, chaque idée une révolution.</div>
            </div>
        </div>
        <div class="item" style="background-image: url('../../../assets/image/asian.jpg');">
            <div class="content">
                <h1 class="name">Leen Siu</h1>
                <div class="des">Partageons la lumière de la connaissance.</div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button (click)="prevSlide()"><i class="fa-solid fa-angle-left"></i></button>
        <button (click)="nextSlide()"><i class="fa-solid fa-angle-right"></i></button>
    </div>
</div>