.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.about {
    padding-top: 5em;
}

.founder {
    padding-top: 20em;
    margin-bottom: -10em;
}