<div class="container">
    <div class="content">
        <div class="header">
            <app-header></app-header>
        </div>

        <div class="hero" id="hero">
            <app-hero></app-hero>
        </div>

        <div class="about" id="about">
            <app-about></app-about>
        </div>

        <div class="founder" id="founder">
            <app-founder></app-founder>
        </div>

        <div class="activity" id="activity">
            <app-activity></app-activity>
        </div>

        <div class="testimonial">
            <app-testimonial></app-testimonial>
        </div>

        <div class="contact" id="contact">
            <app-conatct></app-conatct>
        </div>
    </div>
</div>
